@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
:root {
    --primary-color: #0c1c38;
    --secondary-color: #3b74e8;
    --accent1-color: #aeb4c0;
    --accent2-color: #2e3d54;
    --accent3-color: #f0f0f0;

    --heading-font: "Poppins", Arial;
    --paragraph-font: "Inter", Helvetica, sans-serif;

    --headline-color-on-white: var(--primary-color);
    --headline-color-on-color: var(--accent3-color);
    --paragraph-color-on-white: var(--primary-color);
    --paragraph-color-on-color: var(--accent3-color);
    --paragraph-background-color: var(--secondary-color);

    --nav-link-color: var(--accent3-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent2-color);
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: left;
    background-color: var(--accent3-color);
}

img {
    display: block;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h2 {
    text-align: center;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--secondary-color);
}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: var(--accent2-color);
    color: var(--accent3-color);
}

.colors td {
    width: 20%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
    color: var(--accent3-color);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--accent3-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
    color: var(--accent3-color);
}

.accent3 {
    background-color: var(--accent3-color);
    color: var(--primary-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sitemap {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
        ". . . top . ."
        ". left left right right ."
        "page2 page2 . . page3 page3";
}

.sitemap>div {
    text-align: center;
}

.sm-home {
    grid-area: home;
    background-color: var(--accent1-color);
    line-height: 3em;
}

.sm-page2 {
    grid-area: page2;
    background-color: var(--accent1-color);
    line-height: 3em;
}

.sm-page3 {
    grid-area: page3;
    background-color: var(--accent1-color);
    line-height: 3em;
}

.top {
    grid-area: top;
    border-left: 1px solid var(--primary-color);
}

.left {
    grid-area: left;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.right {
    grid-area: right;
    border-top: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}