body {
    margin: 0;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #035E7B;
    color: white;
    padding: 20px;
    grid-column: 1 / -1;
}

header h2 {
    margin-top: 0;
    margin-bottom: 100px;
}

header nav {
    background-color: #00C4CC;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    grid-column: 1 / -1;
    margin: 0 -20px -20px -20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

main {
    background-color: #64E2C0;
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

aside {
    background-color: #035E7B;
    padding: 20px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    
}

footer {
    background-color: #00C4CC;
    color: white;
    padding: 20px;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin-top: -200px;
    
}

footer h2 {
    margin-top: 0;
}

h2 {
    color: #ffffff;
}