body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h2, h3, span {
    font-family: 'Domine', serif;
}

header #course-title {
    display: block;
    text-align: center;
    background-color: #fcab10;
    color: #101311;
    padding: 24px;
    font-size: 2em;
}

header nav {
    display: flex;
    background-color: #101311;
    justify-content: space-around;
    padding: 12px;
}

header nav a {
    text-decoration: none;
    color: #f0f0f0;
    padding: 8px 15px;
    border-radius: 4px;
}

header nav a:hover {
    background-color: #e09d0c;
    color: #f0f0f0;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1200px;
    margin: 8px auto;
}

.card h2 {
    background-color: #FF8C00;
    color: #101311;
    padding: 10px 20px;
    text-align: center;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #c4c1c1;
    overflow: hidden;
    margin: 12px;
}

.about-me-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.about-me-content p {
    flex-grow: 1;
    margin: 0;
}

.about-me-content img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

h3 {
    text-align: center;
}

.country {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px 20px 20px;
}

.country img {
    width: 200px;
    height: auto;
}

.country p {
    flex-grow: 1;
    margin: 0;
}

footer {
    background-color: #101311;
    text-align: center;
    color: #f0f0f0;
    padding: 2em;
}

.card ul {
    padding: 0;
    margin: 16px;
    padding: 16px;
}

.card ul li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000b6b;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) { 

    main {
        grid-template-columns: 1fr; 
        margin: 8px; 
    }

    .about-me-content {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .about-me-content img {
        margin-bottom: 10px;
    }

    .country {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .country img {
        margin-bottom: 10px; 
    }

    .about-me-content img,
    .country img {
        max-width: 100%; 
        height: auto; 
    }

    .card {
        margin: 10px;
    }
}